<div class="error-wrapper">
  <div class="error-container">
      <div class="error">
          <div class="error-title">
              Error
          </div>
          <div class="error-number">
              404
          </div>
          <div class="error-description">
              Lo sentimos, la página que buscas no existe
          </div>
          <div>
            <button class="btn btn-outline-dark mt-5" (click)="redirigir()">Volver al inicio</button>
          </div>
      </div>
  </div>
</div>
